
/** Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

}

/** Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    nav .brand-logo {
        left: 85%;
    }

    .no-pad-bot h5{
        font-size: 40px;
    }
    p{
        font-size: 20px;
    }

    #index-banner h5{
        font-size: 25px;
    }

    .hidded-column{
        display: table;
        width: 100%;
    }
    .table-picture{
        height: 114px;
    }

    body {
        display: flex;
        min-height: 100vh;
        flex-direction: column;
    }
    main {
        flex: 1 0 auto;
    }

    .carousel{
        display: block;
    }

    .carousel-item.active .row .card{
        -webkit-box-shadow: 0px 116px 182px -100px rgba(0,0,0,0.64);
        -moz-box-shadow: 0px 116px 182px -100px rgba(0,0,0,0.64);
        box-shadow: 0px 116px 182px -100px rgba(0,0,0,0.64);
    }

}


/** Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    nav .brand-logo{
        left: 0%;
    }

    .fake-content{
        height: 56vw;
    }
    body {
        display: flex;
        min-height: 100vh;
        flex-direction: column;
    }
    main {
        flex: 1 0 auto;
    }
    .carousel{
        display: block;
    }

    .carousel-item.active .row .card{
        -webkit-box-shadow: 0px 116px 182px -100px rgba(0,0,0,0.64);
        -moz-box-shadow: 0px 116px 182px -100px rgba(0,0,0,0.64);
        box-shadow: 0px 116px 182px -100px rgba(0,0,0,0.64);
    }

}

/** Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

    .fake-content{
        height: 44vw;
    }

    body {
        display: flex;
        min-height: 100vh;
        flex-direction: column;
    }
    main {
        flex: 1 0 auto;
    }

    .carousel{
        display: block;
    }

}


