<!doctype html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

    <!--FavIcon-->
    <link rel="shorcut icon" type="image/x-ico" href="{{url_for('static' , filename= 'images/favicon.ico')}}">

    <!--Boostrap y Data table-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/fixedheader/3.1.7/css/fixedHeader.bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.6/css/responsive.bootstrap.min.css">

    {% block individual_head %}

    {% endblock %}

    <!--My Css-->
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/queries.css')}}">

    <title>Galapagos Turtles</title>

</head>

<body>

<!-- Page Header -->
<header>
    <nav>
        <div class="row">
            <img src="static/images/logo/wave-306989_1280.png" style="background-color: inherit" alt="Galapago Turtle logo" class="logo">
            <img src="static/images/logo/wave-306989_1280.png" style="background-color: inherit" alt="Galapago Turtle logo" class="logo2">
            <ul class="main-nav js--main-nav">
                <li><a href="{{url_for('index')}}">HOME</a></li>
                <li><a href="#turtles_managment">TURTLE MANAGMENT</a></li>
                <li><a href="#about">ABOUT</a></li>
                <li><a href="#contac_us">CONTACT US</a></li>
            </ul>
            <a class="mobile-nav-icon js--nav-icon"><i class="fa fa-bars"></i></a>
        </div>
    </nav>


    <div class="hero-text-box">
        <h1>Galápagos turtles</h1>
        <a class="btn btn-full js--scroll-to-kontakt" href="#contac_us">CONTACT US</a>
        <a class="btn btn-ghost" href="{{url_for('get_turtles')}}">TURTLES</a>
    </div>

</header>


<!-- Main Content -->
{% block content%}

{% endblock%}

<footer>
    <div class="row">
        <div class="col span-1-of-2">
            <ul class="footer-nav">
                <li><a href="#">About us</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">Turtles Managment</a></li>
            </ul>
        </div>
        <div class="col span-1-of-2">
            <div class="row">
                <!--Links-->
                <div class="col-md-12 pb-5">
                    <div class="footer-links flex-center">
                        <!-- Facebook -->
                        <a href="https://www.facebook.com/profile.php?id=100007278138587" target="blank" class="fb-ic"><i class="fab fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-2x"></i></a>
                        <!-- GitHub-->
                        <a href="https://github.com/ArloysMacias" target="blank" class="gplus-ic"><i class="fab fa-github fa-lg white-text mr-md-5 mr-3 fa-2x"></i></a>
                        <!--Linkedin -->
                        <a href="https://www.linkedin.com/in/arloys-macias-rojas-ba6307128/?locale=en_US" target="blank" class="li-ic"><i class="fab fa-linkedin-in fa-lg white-text mr-md-5 mr-3 fa-2x"></i></a>
                        <!--ResearchGate -->
                        <a href="https://www.researchgate.net/profile/Arloys_Rojas" target="blank" class="li-ic"><i class="fab fa-researchgate fa-lg white-text mr-md-5 mr-3 fa-2x"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <p>
            Copyright © 2020 by Arloys Macias Rojas. All rights reserved.
        </p>
    </div>
</footer>


<!--Scripts-->
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js'/>

<!--My Script-->
<script type="text/javascript" src="static/js/script.js"></script>

<!--Boostrap and Data Table-->
<script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap.min.js"></script>
<script src="https://cdn.datatables.net/fixedheader/3.1.7/js/dataTables.fixedHeader.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.6/js/dataTables.responsive.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.6/js/responsive.bootstrap.min.js"></script>
<script>
    $(document).ready(function () {

        $('#tablax').DataTable({
            scrollY: 400,
            lengthMenu: [ [10, 25,50, -1], [10, 25,50, "All"] ],
        });
    });

</script>
<!--End of Boostrap and Data Table-->

<!--My Script
Data table overwrites some variables so I repeat the script one more time after using datatables scripts
-->
<script type="text/javascript" src="static/js/script.js"></script>

<!--End-Scripts-->

</body>

</html>