{% extends 'base.html' %}


{% block content %}

<section class="section-features js--section-features" id="features">
    <div class="row">
        <h2>Be like the sea turtle: At ease in your own shell.</h2>
        <p class="long-copy">
            Bill Copeland
        </p>
    </div>

    <div class="row js--wp-1 animated fadeIn">

        <div class="col span-1-of-4 box">
            <i class="fa fa-leaf" aria-hidden="true"></i>
            <h3>Easy</h3>
            <p>
                A simple way to acilitates conservation efforts on the galapagos.
            </p>
        </div>
        <div class="col span-1-of-4 box">
            <i class="fa fa-eye" aria-hidden="true"></i>
            <h3>Monitor</h3>
            <p>
                Monitor the sea turtle population in galapagos.
            </p>

        </div>
        <div class="col span-1-of-4 box">
            <i class="fa fa-search" aria-hidden="true"></i>
            <h3>Search</h3>
            <p>
                Search the catalogue and filter based on severeals parameters.
            </p>
        </div>

        <div class="col span-1-of-4 box">
            <i class="fa fa-cog" aria-hidden="true"></i>
            <h3>Manage</h3>
            <p>
                Manage new and existing individuals insividuals
            </p>
        </div>
    </div>
</section>

<section class="section-turtles">
    <ul class="turtles-showcase clearfix">
        <li>
            <figure class="turtle-photo">
                <img src="static/images/turtles-cards/mexico-2086549_1920.jpg" alt="black bmw">
            </figure>
        </li>
        <li>
            <figure class="turtle-photo">
                <img src="static/images/turtles-cards/turtle-863336_1280.jpg" alt="red audi">
            </figure>
        </li>
        <li>
            <figure class="turtle-photo">
                <img src="static/images/turtles-cards/wallpapertip_baby-sea-turtle-wallpaper_392835.jpg" alt="blue amg">
            </figure>
        </li>
        <li>
            <figure class="turtle-photo">
                <img src="static/images/turtles-cards/wallpapertip_sea-turtle-wallpaper_953711.jpg" alt="golf">
            </figure>
        </li>
    </ul>
    <ul class="turtles-showcase clearfix">
        <li>
            <figure class="turtle-photo">
                <img src="static/images/turtles-cards/water-1446738_1920.jpg" alt="black bmw">
            </figure>
        </li>
        <li>
            <figure class="turtle-photo">
                <img src="static/images/turtles-cards/wallpapertip_sea-turtle-wallpaper_111957.jpg" alt="red audi">
            </figure>
        </li>
        <li>
            <figure class="turtle-photo">
                <img src="static/images/turtles-cards/turtle-2250720_1920.jpg" alt="blue amg">
            </figure>
        </li>
        <li>
            <figure class="turtle-photo">
                <img src="static/images/turtles-cards/wallpapertip_hd-fish-wallpaper-for_374090.jpg" alt="golf">
            </figure>
        </li>
    </ul>
</section>


{% endblock %}