{% extends 'base.html'%} {% block content %}
<div class="container fake-content">
    <h3>Turtles</h3>
    <div class="row">
        <ul class="collapsible" data-collapsible="accordion">
            {% for turtle in turtles %}
            <li>
                <div class="collapsible-header">
                    <div class="turtle_header col s9">
                        <strong>{{turtle.turtle_name}}</strong>--{{turtle.capture_location}}
                    </div>
                    <a href="{{url_for('delete_turtle', turtle_id = turtle._id )}}" class="waves-effect waves-light btn btn_small" id="delete_color">Del</a>
                    <a href="{{url_for('edit_turtle', turtle_id = turtle._id )}}" class="waves-effect waves-light btn btn_small blue">Edit</a>
                </div>
                <div class="collapsible-body">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Turtle Name</th>
                            <th>Right Flipper Tag</th>
                            <th>Morphotype</th>
                            <th>Gender</th>
                            <th class="hidded-column">Picture</th>
                            <th>Capture Location</th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr>
                            <td>{{turtle.turtle_name}}</td>
                            <td>{{turtle.right_flipper_tag}}</td>
                            <td>{{turtle.morphotype}}</td>
                            <td>{{turtle.gender}}</td>
                            <td class="hidded-column"><img class="table-picture" src="{{url_for('load_image', file_name=turtle.picture)}}" alt=""></td>
                            <td>{{turtle.capture_location}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </li>
            {% endfor %}
        </ul>
        <a href="{{url_for('add_turtle')}}" class="waves-effect waves-light btn">New</a>
    </div>
</div>
{% endblock %}