{% extends 'base.html'%} {% block content %}
<div class="container fake-content">
    <h3>Turtles</h3>
    <div class="row">
        <ul class="collapsible" data-collapsible="accordion">
            {% for turtle in turtles %}
            <li>
                <div class="collapsible-header">
                    <div class="turtle_header col s9">
                        <strong>{{turtle.turtle_name}}</strong>--{{turtle.capture_location}}
                    </div>
                    <!-- Modal Trigger -->
                    <a class="modal-trigger" href="#{{turtle._id}}"><i class="medium material-icons">delete</i></a>
                    <a href="{{url_for('edit_turtle', turtle_id = turtle._id )}}" ><i class="medium material-icons">create</i></a>
                </div>
                <div class="collapsible-body">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Turtle Name</th>
                            <th>Right Flipper Tag</th>
                            <th>Morphotype</th>
                            <th>Gender</th>
                            <th class="hidded-column">Picture</th>
                            <th>Capture Location</th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr>
                            <td>{{turtle.turtle_name}}</td>
                            <td>{{turtle.right_flipper_tag}}</td>
                            <td>{{turtle.morphotype}}</td>
                            <td>{{turtle.gender}}</td>
                            <td class="hidded-column"><img class="table-picture" src="{{url_for('load_image', file_name=turtle.picture)}}" alt=""></td>
                            <td>{{turtle.capture_location}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </li>
            <!-- Modal Structure -->
            <div id="{{turtle._id}}" class="modal">
                <div class="modal-content">
                    <h4>Delete Confirmation</h4>
                    <p>Are you sure you want to delete this turtle?</p>

                    <form action="{{url_for('delete_turtle', turtle_id = turtle._id )}}" method="post">
                        <div class="modal-body">
                            <input type="hidden" name="category_id" id="cat_id" value="">
                        </div>
                        <div class="modal-footer">
                            <button type="button" href="#!" class="btn modal-close waves-effect waves-green" data-dismiss="modal">No, Cancel</button>
                            <button type="submit" class="btn btn-warning red">Yes, Delete</button>
                        </div>
                    </form>

                </div>
            </div>
            {% endfor %}
        </ul>
        <a href="{{url_for('add_turtle')}}" class="waves-effect waves-light btn">New</a>
    </div>
</div>
{% endblock %}